<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Search resutl:</h1>
<br>
{#<div id="show"></div>#}
<table border="1">
        <tr>
            <td>device_id</td>
            <td>brand</td>
            <td>device_model</td>
            <td>Go</td>
        </tr>
    {% for item in result_dic %}
        <tr>
            <td>{{ item.device_id }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.device }}</td>
            <td>
                <a href="{% url 'tablesInDevice' item.device_id %}">GO</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
{#<script>#}
{#    let dom = document.querySelector("#show");#}
{#    dom.innerText = "try"#}
{#</script>#}
</html>